.Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 40px;
}

.Input {
  text-align: center;
  height: 1.9rem;
  width: 50%;
  margin-bottom: 25px;
  border-radius: 5px;
  max-width: 400px;
  text-transform: capitalize;
}
